<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div style="margin: 0 auto;width: 170px;margin-top: 50px">
                <h2 style="text-align: center">登录</h2>
                <div class="form-group">
                    <label for="user">用户名</label>
                    <input type="text" class="form-control" id="user" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="pass">密码</label>
                    <input type="password" class="form-control" id="pass" placeholder="Password">
                </div>
                <button class="btn btn-default pull-right" onclick="sub()">提交</button>

            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    $(function () {
        if(!window.localStorage){
            alert("浏览器不支持localstorage");
            return false;
        }else{
            $('#bs-example-navbar-collapse-1 li').eq(3).addClass('active')
        }
    })
    function sub() {
        var obj = {
            user:$('#user').val(),
            pass:$('#pass').val()
        }
        $.ajax({
            url:'login',
            type:'POST',
            dataType:'json',
            data:obj,
//            headers:{"x-ffc":"111"},
            success: function (data) {
                console.log(data,'dd')
                var htmlDiv = '';
                var modelFooter = '';
                if(data.state ==200){

                    htmlDiv += '<span>'+data.msg+'</span>'
                    modelFooter += '<button type="button" class="btn btn-primary" onclick="locationTo()">确定</button>';
                    $('.modal-body').html(htmlDiv)
                    $('.modal-footer').html(modelFooter)
                    $('.modal').modal('show')
                }else {
                    htmlDiv += '<span>'+data.msg+'</span>'
                    modelFooter += '<button type="button" class="btn btn-default" data-dismiss="modal" >取消</button>';
                    $('.modal-body').html(htmlDiv)
                    $('.modal-footer').html(modelFooter)
                    $('.modal').modal('show')
                }
            }
        })
    }
    function locationTo() {
        location.href ='/postEdit.html'
    }
</script>