<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div style="margin: 0 auto;width: 170px;margin-top: 50px">

                <!--<input id="user" name="userName" type="text" style="margin-bottom: 10px">-->
                <!--<input id="pass" name="password" type="password" style="margin-bottom: 10px">-->
                <!--<div style="float: right">-->
                    <!--<button type="button" class="btn btn-primary right" onclick="sub()">提交</button>-->
                <!--</div>-->

                <h2 style="text-align: center">注册</h2>
                    <div class="form-group">
                        <label for="user">用户名</label>
                        <input type="text" class="form-control" id="user" placeholder="请输入用户名">
                    </div>
                    <div class="form-group">
                        <label for="pass">密码</label>
                        <input type="password" class="form-control" id="pass" placeholder="请输入密码">
                    </div>
                <div class="form-group">
                    <label for="pass">邀请码</label>
                    <input type="password" class="form-control" id="avide" placeholder="请输入邀请码">
                </div>
                    <button class="btn btn-default pull-right" onclick="sub()">提交</button>

            </div>

        </div>
    </div>
</div>


<script type="text/javascript">

    $(function () {
        if(!window.localStorage){
            alert("浏览器不支持localstorage");
            return false;
        }else{
            $('#bs-example-navbar-collapse-1 li').eq(4).addClass('active')
        }
    })
    function sub() {
        console.log('1')
        var obj = {
            user:$('#user').val(),
            pass:$('#pass').val(),
            avide:$('#avide').val()
        }

        $.ajax({
            url:'signUp',
            type:'POST',
            dataType:'json',
            data:obj,
//            headers:{"x-ffc":"111"},
            success: function (data) {
                var htmlDiv = '';
                var modelFooter = '';
                if(data.state ==200){

                    htmlDiv += '<span>'+data.msg+'</span>'
                    modelFooter += '<button type="button" class="btn btn-primary" onclick="locationTo()">跳转到登录页</button>';
                    $('.modal-body').html(htmlDiv)
                    $('.modal-footer').html(modelFooter)
                    $('.modal').modal('show')
                }else {
                    htmlDiv += '<span>'+data.msg+'</span>'
                    modelFooter += '<button type="button" class="btn btn-default" data-dismiss="modal" >继续注册</button>';
                    $('.modal-body').html(htmlDiv)
                    $('.modal-footer').html(modelFooter)
                    $('.modal').modal('show')
                }
            }
        })
    }
    function locationTo() {
        location.href ='/login.html'
    }
</script>