<div class="container">
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <div class="row" style="padding-bottom: 10px">
                <div class="col-xs-12 col-md-12">
                    <h3 style="font-weight: bold"><%= content.data[0].news_Title %> </h3>
                </div>
            </div>
            <div class="row" style="padding-bottom: 10px">
                <div class="col-xs-12 col-md-12">
                    <p style="font-size: 16px;line-height: 26px"><%= content.data[0].news_Content %></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-12">
            show
        </div>
    </div>
</div>